//light mode
$bg-beige: #f3f3e8;
$el-orange: #eb8322;
$el-blue: #587294;
$el-lightOrange: #eeb173;
$el-lightBlue: #89afe2;

//dark mode
$d-ft-yellow: #ffe500;
$d-el-blue: #2e4e78;
$d-el-orange: #ac7947;
$d-bg-blue: #425767;
